<meta charset="utf-8" />
<title><%= projectName %> | <%= title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="robots" content="noindex,nofollow">
<link rel="stylesheet" href="<%= stylesheet %>">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.js"></script>
<script src="<%= baseUrl %>/jquery.cropit.js"></script>
