<script>
  $(document).ready(function () {
    $(document).on('click', '[data-push]', function (event) {
      event.preventDefault()
      var href = $(this).attr('href')
      var action = $(this).attr('data-push')
      $('[data-action]').css('display', 'none')
      $('[data-action=' + action + ']').css('display', 'flex')
      history.pushState({}, null, href)
    })

    window.onpopstate = function (event) {
      var loc = document.location.href
      var action = loc.substring(loc.lastIndexOf('/') + 1)
      var qs = action.indexOf('?')
      if (qs !== -1) action = action.substring(0, qs)
      $('[data-action]').css('display', 'none')
      $('[data-action=' + action + ']').css('display', 'flex')
    }

    var forms = <%- JSON.stringify(forms) %>

    Object.keys(forms).forEach(function (key) {
      $('[data-action=' + key + '] form').form(forms[key])
    })

    $('form').on('submit', function (e) {
      var form = $(this)
      var errors = $(this).find('.field.error')
      if (errors.size() > 0) return
      $(this).addClass('loading')
      <% if (recaptchaSiteKey) { %>
        if (form.find('[name=g-recaptcha-response]').size() === 0) {
          window.submitForm = form
          e.preventDefault()
          grecaptcha.execute()
        }
      <% } %>
    })
  })
</script>
