<% if (someProvidersAvailable) { %> <p>or</p> <% } %>
<% if (availableProviders.google) { %>
  <a href="<%= baseUrl %>/provider/google" class="ui fluid large google button"><i class="google icon"></i> Connect with Google</a>
<% } %>
<% if (availableProviders.facebook) { %>
  <a href="<%= baseUrl %>/provider/facebook" class="ui fluid large facebook button"><i class="facebook icon"></i> Connect with Facebook</a>
<% } %>
<% if (availableProviders.github) { %>
  <a href="<%= baseUrl %>/provider/github" class="ui fluid large github button"><i class="github icon"></i> Connect with GitHub</a>
<% } %>
<% if (availableProviders.linkedin) { %>
  <a href="<%= baseUrl %>/provider/linkedin" class="ui fluid large linkedin button"><i class="linkedin icon"></i> Connect with LinkedIn</a>
<% } %>
<% if (availableProviders.twitter) { %>
  <a href="<%= baseUrl %>/provider/twitter" class="ui fluid large twitter button"><i class="twitter icon"></i> Connect with Twitter</a>
<% } %>
