<!DOCTYPE HTML>
<html>
<head>
  <%- include('./include-head.html', { projectName, title }) %>
  <%- include('./include-head-recaptcha.html', { recaptchaSiteKey }) %>
</head>
<body>
  <%- include('./include-recaptcha.html', { recaptchaSiteKey }) %>
  <%- include('./include-alert.html', { error, info }) %>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header">
        <div class="content">
          Enter an authentication code
        </div>
      </h2>
      <form class="ui large form aligned left" method="POST" action="<%= baseUrl %>/twofactor">
        <input type="hidden" name="jwt" value="<%= jwt %>">
        <div class="ui stacked segment aligned center">
          <% if (user.twofactor === 'qr') { %>
            <p>User your app to enter a valid authentication code.</p>
          <% } else if (user.twofactor === 'sms') { %>
            <p>We have sent an SMS to: <strong><%= obfuscatePhone(user.twofactorPhone) %></strong><br>
          <% } %>
          <div class="required field">
            <div class="ui left icon input fill">
              <i class="hashtag icon"></i>
              <input type="text" name="token" placeholder="Verification code">
            </div>
          </div>
          <button type="submit" class="ui fluid teal submit button">Verify code</button>
        </div>
      </div>
    </div>
  </div>
  <%- include('./include-javascript.html', { forms }) %>
</body>
</html>
