@import url('https://cdn.jsdelivr.net/semantic-ui/2.2.7/semantic.min.css');

body {
  background-color: #DADADA;
}

body > .grid {
  height: 100%;
}

body > .ui.message:first-child {
  margin: 20px;
  text-align: center;
}

.ui.image {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
}

.column {
  max-width: 450px;
}

a.ui.button {
  margin-bottom: 5px
}
.button.google, .button.google:hover {
  background-color: #DB402C;
  color: white
}
.button.facebook, .button.facebook:hover {
  background-color: #324D8F;
  color: white
}
.button.github, .button.github:hover {
  background-color: #3C3C3C;
  color: white
}
.button.linkedin, .button.linkedin:hover {
  background-color: #263E58;
  color: white
}
.button.twitter, .button.twitter:hover {
  background-color: #1EA1F1;
  color: white
}
.field {
  text-align: left;
}
.ui.form .field > label {
  display: none;
}
.ui.message {
  font-size: 0.9em;
}


.fill {
  width: 100%;
}

.aligned.center {
  text-align: center;
}

.aligned.left {
  text-align: left;
}


#done .green {
  color: #16ab39;
}

#done .red {
  color: #d01919;
}

#done .large.icon {
  font-size: 10em;
  margin: 0;
}

/* Cropit */

.cropit-preview {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #eee;
}

.cropit-preview::before {
  font-family: 'Icons';
  content: "\f030";
  position: absolute;
  font-size: 100px;
  line-height: 1;
  top: 40px;
  text-align: center;
  right: 0;
  left: 0;
}

.cropit-image-loaded.cropit-preview::before {
  display: none;
}

.cropit-image-zoom-input {
  display: none;
}

.cropit-image-loaded + .cropit-image-zoom-input {
  display: inline;
}

/*
* If the slider or anything else is covered by the background image,
* use relative or absolute position on it
*/
input.cropit-image-zoom-input {
  position: relative;
}

/* Show load indicator when image is being loaded */
.cropit-preview.cropit-image-loading .spinner {
  opacity: 1;
}

/* Show move cursor when image has been loaded */
.cropit-preview.cropit-image-loaded .cropit-preview-image-container {
  cursor: move;
}

/* Gray out zoom slider when the image cannot be zoomed */
.cropit-image-zoom-input[disabled] {
  opacity: .2;
}

/* Hide default file input button if you want to use a custom button */
input.cropit-image-input {
  visibility: hidden;
  position: absolute;
}

/* The following styles are only relevant to when background image is enabled */

/* Translucent background image */
.cropit-preview-background {
  opacity: .2;
}

/*
* If the slider or anything else is covered by the background image,
* use non-static position on it
*/
input.cropit-image-zoom-input {
  position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
  overflow: hidden;
}

.select-image-btn-wrapper {
  margin: 10px 0 20px 0;
}

.strikethrough {
  text-decoration: line-through;
}
